/* try flexbox with three columns, horiz vert and horiz */

body {
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

main {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "h1 h1 h1 v1 v1 h2 h2 h2"
        "h1 h1 h1 v1 v1 h2 h2 h2"
        "h3 h3 h3 v1 v1 h4 h4 h4"
        "h3 h3 h3 v2 v2 h4 h4 h4"
        "h5 h5 h5 v2 v2 h6 h6 h6"
        "h5 h5 h5 v2 v2 h6 h6 h6";
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}

#h1 {
    grid-area: h1;
}
#h2 {
    grid-area: h2;
}
#h3 {
    grid-area: h3;
}
#h4 {
    grid-area: h4;
}
#h5 {
    grid-area: h5;
}
#h6 {
    grid-area: h6;
}

#v1 {
    grid-area: v1;
}
#v1 {
    grid-area: v2;
}